*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #000;
    color: #fff;
}

.header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient( rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(img/header-image.png);
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    align-items: center;
}

.logo {
    width: 150px;
    cursor: pointer;
}

nav button { 
    border: 0;
    outline: 0;
    background: #db0001;
    color: #fff;
    padding: 7px 20px;
    font-size: 12px;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
}

.language-btn {
    display: inline-block;
    align-items: center;
    border: 1px solid #fff;
    background: transparent;
    padding: 7px 10px;
}

.language-btn img {
    width: 10px;
    margin-left: 10px;
}

.header-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 100px;
}

.header-content h3 {
    margin-bottom: 20px;
    font-size: 400;
   
}

.email-signup {
    background: #fff;
    border-radius: 4px;
    margin-top: 30px;
    align-items: center;
    overflow: hidden;
    display: flex;
}

.email-signup input { 
    flex: 1;
    border: 0;
    outline: 0;
    margin-left: 20px;
}

.email-signup button {
    background: #db0001;
    border: 0;
    outline: 0;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    padding: 15px 30px;
}

/* features */
.features {
padding: 50px 12%;
font-size: 22px;
}

.row {
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
}

.text-column {
    flex-basis: 50%;
    margin-bottom: 20px;
}

.img-column{
    flex-basis: 50%;
    margin-bottom: 20px;
}

.img-column img {
    display: block;
    width: 90%;
    margin: auto;
}

.features h2 {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
}

/* faq */
.faq {
    padding: 10px;
    text-align: center;
    font-size: 18px;
}

.faq h2 {
    font-weight: 500;
    font-size: 40px;

}

.accordion {
    margin: 60px auto;
    width: 100%;
    max-width: 750px;
}

.accordion li {
    list-style: none;
    width: 100%;
    padding: 5px;
}

.accordion li label {
    display: flex;
    align-items: center;
    padding: 20px;
    font-style: 18px;
    font-weight: 500;
    background: #303030;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
}

label::after {
    content: '+';
    font-size: 34px;
    position: absolute;
    right: 20px;
    transition: transform 0.5s;
}

input[type="radio"]{
    display: none;
}

/* to make the faq hidden */
.accordion .content {
    background: #303030;
    text-align: left;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    /* for smooth transition-duration */
    transition:  max-height 0.5s, padding 0.5s;
}

/* to make the faq visible */
.accordion input[type="radio"]:checked + label + .content {
    max-height: 600px;
    padding: 30px 20px;
}

.accordion input[type="radio"]:checked + label::after {
    transform: rotate(135deg);
}

.faq .email-signup {
    max-width: 600px;
    margin: 20px auto 60px;
}

.faq small {
    font-size: 13px;
}

/* footer */
.footer {
    padding: 50px 15% 10px;
    border-top: 6px solid #333;
    color: #777;
}

.footer h2 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}